<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
   
     <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/servlet/TestServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Creates an SOS Service</description>
    <display-name>SOS Servlet</display-name>
    <servlet-name>sos</servlet-name>
    <servlet-class>org.oostethys.servlet.SOS_Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>sos</servlet-name>
    <url-pattern>/sos</url-pattern>
  </servlet-mapping>
  
  

</web-app>